/* Momentos */

/* Estilo para reducir a 3 y a 4 historias en Responsive */
@media (max-width: 768px) {
    .stories a:nth-child(3),
    .stories a:nth-child(4) {
      display: none;
    }
  }

  @media (max-width: 408px) {
    .stories a:nth-child(2) {
      display: none;
    }
  }

  body.isHidden {
    overflow: hidden;
  }

  .list a.uk-active {
    background-color: rgb(254 234 237 / var(--tw-bg-opacity));
  }

  .list a.uk-active img.border-primary {
      --tw-border-opacity: 1;
      border-color: rgb(249 46 75 / var(--tw-border-opacity));
  }